.container {
  width: 100%;
  height: 500px;
  margin: 20px auto;
  /* align-items: center; */
  /* display: flex; */
}

.yellow {
  background-color: yellow;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.purple {
  width: 14%;
  height: 33%;
  background-color: purple;
}
