#exercise8 .large {
  border: solid;
  color: rgba(83, 83, 230, 0.582);
  margin-top: 1em;
  width: 650px;
  height: 100px;
}

#exercise8 .large div {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgb(39, 114, 212);
  margin: 0 0.5em;
  vertical-align: top;
  margin-top: 1em;
  margin-left: 1em;
}


