<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
</head>

<body>
    <div class="container">
        <div class="header-container">
            <div class="head-left">
                <div class="item first"></div>
                <div class="item second"></div>
                <div class="item third"></div>
            </div>
            <div class="head-right">
                <div class="item forth"></div>
                <div class="item fifth"></div>
            </div>
        </div>

        <div class="body-container">
            <div class="left">
                <p>Complex Sentence Generator is very easy to use. After typing or pasting content in the first text
                    box, press the convert button to automatically paraphrase the content. This generator can also work
                    as a random sentence generator. Click on the random sentence button to generate random complex
                    sentences and have them paraphrased.</p>
                <div class="square-container">
                    <div class="square-container1">
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                    </div>
                    <div class="square-container2">
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                    </div>
                </div>
                <div class="text">
                    <p>This software works as a paraphrase converter for transforming simple and common english into
                        more
                        complex english. It can be useful as a free article spinner due to it's ability to rephrase a
                        large
                        body of text and potentially generate multiple unique versions with each conversion of the same
                        content. </p>
                    <p>With complex sentence generator you can reword content online and rewrite up to 10000 characters
                        or
                        less at a time/per conversion. This should be more than enough for spinning articles, essays or
                        paraphrasing website content for blogs which usually consists of a large amount of content.</p>
                </div>

            </div>
            <div class="right">
                <div class="g-container">
                    <div class="grey"></div>
                    <div class="grey"></div>
                    <div class="grey"></div>
                    <div class="grey"></div>
                    <div class="grey"></div>
                </div>
                <p>In order to rephrase a sentence, paragraph, essay or article effectively, content with good grammar
                    and spelling is important when using this automatic paraphraser because it can only recognize,
                    understand and rewrite correct grammar. </p>
                <p> For an article rewriter that is in the form of a bot, it does a good job of respecting english and
                    using replacements that make sense. Content that is written in all caps or with the first letter of
                    every word capitalized can still be rephrased by this software. Otherwise, as long as the grammar of
                    the content is sensible and recognizable, complex sentence generator can make the task of
                    paraphrasing easy.</p>
            </div>
        </div>

    </div>
</body>

</html>